*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/* @media (min-width:700px ){
body{

background-color: black;
display: none;


}

} */
@media (max-width:600px){
h1{
background-color: blanchedalmond
}
}